n8n-workflow.json
{
  "name": "FreeBots Build Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "freebots-build",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "freebots-build"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst body = $input.item.json.body || $input.item.json;\nconst title = (body.title || 'unnamed-app').toString();\nconst prompt = (body.prompt || '').toString();\nconst stack = (body.stack || 'React + Vite').toString();\n\nconst slug = title\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/(^-|-$)/g, '')\n  .substring(0, 40);\n\nconst appDir = path.join('C:\\\\Users\\\\Student\\\\AI-Projekt\\\\workspace', slug);\n\nfs.mkdirSync(appDir, { recursive: true });\nfs.writeFileSync(path.join(appDir, 'PROMPT.md'), prompt, 'utf8');\n\nreturn [{ json: { title, slug, appDir, stack } }];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Prepare & Write Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, job: $json.slug, dir: $json.appDir, message: 'Build gestartet' }) }}"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Respond to FreeBots",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 160]
    },
    {
      "parameters": {
        "jsCode": "const { spawnSync } = require('child_process');\n\nconst appDir = $input.item.json.appDir;\nconst promptFile = appDir + '\\\\PROMPT.md';\n\nconst result = spawnSync(\n  'powershell.exe',\n  ['-Command', `$p = Get-Content '${promptFile}' -Raw; cd '${appDir}'; $p | claude --dangerously-skip-permissions`],\n  { timeout: 600000, encoding: 'utf8' }\n);\n\nconst output = (result.stdout || '').substring(0, 1000);\nconst hasError = result.status !== 0;\n\nreturn [{ json: { ...$input.item.json, claudeOutput: output, claudeFailed: hasError } }];"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Run Claude Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\n\nconst appDir = $input.item.json.appDir;\nconst slug = $input.item.json.slug;\nconst opts = { cwd: appDir, encoding: 'utf8', stdio: 'pipe' };\n\nlet gitStatus = 'unknown';\n\ntry {\n  try { execSync('git init', opts); } catch {}\n  execSync('git add .', opts);\n  execSync(`git commit -m \"${slug}: initial build by FreeBots\"`, opts);\n  gitStatus = 'committed';\n\n  try {\n    execSync('git push', opts);\n    gitStatus = 'pushed';\n  } catch {\n    gitStatus = 'committed-no-remote';\n  }\n} catch(e) {\n  gitStatus = 'error: ' + e.message.substring(0, 100);\n}\n\nreturn [{ json: { ...$input.item.json, gitStatus } }];"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Git Commit & Push",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ntfy.sh/freebots-lotfi?title=%E2%9C%85%20Build%20fertig",
        "sendBody": true,
        "contentType": "raw",
        "rawBody": "=App: {{ $('Prepare & Write Prompt').item.json.title }}\nStack: {{ $('Prepare & Write Prompt').item.json.stack }}\nGit: {{ $json.gitStatus }}\nOrdner: {{ $('Prepare & Write Prompt').item.json.appDir }}"
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Notify ntfy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Prepare & Write Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare & Write Prompt": {
      "main": [
        [
          { "node": "Respond to FreeBots", "type": "main", "index": 0 },
          { "node": "Run Claude Code", "type": "main", "index": 0 }
        ]
      ]
    },
    "Run Claude Code": {
      "main": [
        [
          { "node": "Git Commit & Push", "type": "main", "index": 0 }
        ]
      ]
    },
    "Git Commit & Push": {
      "main": [
        [
          { "node": "Notify ntfy", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "freebots-pipeline-v1"
}
